{
  "extends": "airbnb",
  "globals": {
    "document": true
  },
  "rules": {
    "react/prop-types": [
      "error", {
        "ignore": [],
        "customValidators": [],
        "skipUndeclared": true
      }
    ]
  }
}
