/node_modules
/dist
/coverage
/src
/test

index.html
jest.config.js
webpack.config.js
postcss.config.js
rtl.config.js
index.html
yarn.lock
npm-debug.log
yarn-error.log
README.md
Jenkinsfile

.env
.npmignore
.npmrc
.yarnrc
.babelrc
.eslintrc
.sass-lint.yml
.stylelintrc
.editorconfig

# IntelliJ
*.iml
/.idea
.DS_Store
